@using BusinessLogic.DTOs;
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model BuildingCreateDto


<link rel="stylesheet" href="~/css/CardCreate.css">

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container">
    <div class="row">
        <h2 class="text-center">Створити нове оголошення</h2>
    </div>

    @*enctype="multipart/form-data" дозволяє зберігати файли*@
    <form method="post" asp-controller="Home" asp-action="Create" class="row g-3 create" enctype="multipart/form-data">

        @*означає, що виведе усі помилки зверху*@
        <div asp-validation-summary="All"></div>

        <div class="col-md-12 text-center">
            <label asp-for="Name" for="Name" class="form-label">Ім'я оголошення</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Введи назву нерухомості">
            @* підключаємо перевірку обєкту, а form-text text-danger означає, що буде червоний текст*@
           @*  <span asp-validation-for="Name" class="form-text text-danger"></span> *@
        </div>

        <div class="col-md-12 text-center">
            <label asp-for="Description" for="Description" class="form-label">Опис об'єкта</label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Введи опис">
            @* <span asp-validation-for="Description" class="form-text text-danger"></span> *@
        </div>

        <div class="col-md-12 text-center">
            <label asp-for="Address" for="Address" class="form-label">Адреса</label>
            <input asp-for="Address" type="text" class="form-control" placeholder="Тут має бути адреса">
            @* <span asp-validation-for="Address" class="form-text text-danger"></span> *@
        </div>     
        
        <div class="form-group text-center mx-auto">
            <label asp-for="TypeOfSaleId">Вид</label>
            <select asp-for="TypeOfSaleId" asp-items="@Model.TypeOfSaleList" class="form-select"></select>
            <span asp-validation-for="TypeOfSaleId" class="text-danger"></span>
        </div>   

        <div class="form-group text-center mx-auto">
            <input asp-for="UserEntityId" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
            <span asp-validation-for="UserEntityId" class="text-danger"></span>
        </div>

        <div class="form-group text-center mx-auto">
            <label asp-for="ViewOfTheHouseId">Тип об'єкта</label>
            <select asp-for="ViewOfTheHouseId" asp-items="@Model.ViewOfTheHouseList" class="form-select" id="ViewOfTheHouseId" onchange="toggleFields(this)"></select>
        </div>

        <div class="col-md-6 text-center mx-auto" id="NumberOfRoomsField" style="display:none;">
            <label asp-for="NumberOfRooms" for="NumberOfRooms" class="form-label">Кількість кімнат квартири</label>
            <input asp-for="NumberOfRooms" type="number" class="form-control" placeholder="Тут має бути число кімнат">
        </div>

        <div class="col-md-6 text-center mx-auto" id="AreaField">
            <label asp-for="Area" for="Area" class="form-label">Площа у м.кв</label>
            <input asp-for="Area" type="number" class="form-control" placeholder="Тут має бути площа об'єкта">
        </div>

        <div class="col-md-6 text-center mx-auto">
            <label asp-for="Images" for="Images" class="form-label">Вибири файли для завантаження</label>
            <input asp-for="Images" type="file" class="form-control" multiple placeholder="Завантаж кілька світлин об'єкта">
            <!-- <span asp-validation-for="Image" class="form-text text-danger"></span> -->
        </div>

        <div class="col-md-6 text-center mx-auto">
            <label asp-for="Price" for="Price" class="form-label">Ціна у доларах</label>
            <input asp-for="Price" type="number" class="form-control" placeholder="Тут має бути ціна">
          @*   <span asp-validation-for="Discription" class="form-text text-danger"></span> *@
        </div>       

        <div class="col-12 mx-auto">
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </div>

    </form>

</div>

<script>

    function toggleFields() {
        var viewOfTheHouseSelect = document.getElementById("ViewOfTheHouseId");
        var roomsField = document.getElementById("NumberOfRoomsField");
        var areaField = document.getElementById("AreaField");

        var houseType = viewOfTheHouseSelect.selectedIndex;
        console.log(`Selected value: ${houseType}`);      

        if (houseType === 0) 
        {
            roomsField.style.display = "none";
            areaField.style.display = "block";
            console.log("Зайшло в 0");
        } 
        else if (houseType === 1) 
        {
            roomsField.style.display = "block";
            areaField.style.display = "none";
            console.log("Зайшло в 1");
        }        
    }

    document.addEventListener("DOMContentLoaded", function () {
        var viewOfTheHouseSelect = document.getElementById("ViewOfTheHouseId");
        var roomsField = document.getElementById("NumberOfRoomsField");
        var areaField = document.getElementById("AreaField");

        viewOfTheHouseSelect.addEventListener("change", function () {
            toggleFields();
        });
   
    });
</script>
