@using DataAccess.Entities
@using Microsoft.AspNetCore.Identity;
@using BusinessLogic.DTOs.User;

@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager

@{
    string Admin = "Admin";
    string Seller = "Seller";
}


<header class="p-3 text-white bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-secondary" asp-controller="Home" asp-action="Index">Головна</a></li>

                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var roles = await UserManager.GetRolesAsync(user);

                    @foreach (var role in roles)
                    {
                        @if (role.Equals(@Admin))
                        {
                            <li><a asp-controller="Admin" asp-action="Index" class="nav-link px-2 text-white">Усі користувачі</a></li>
                            <li><a asp-controller="Home" asp-action="Create" class="nav-link px-2 text-white">Подати нове оголошення</a></li>
                        }
                        else if (role.Equals(@Seller))
                        {
                            <li><a asp-controller="Home" asp-action="Create" class="nav-link px-2 text-white">Подати нове оголошення</a></li>
                            <li><a asp-controller="Home" asp-action="MyAdvertisement" asp-route-id=@user.Id class="nav-link px-2 text-white">Мої оголошення</a></li>
                        }
                    }

                }

                <li><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="AllInformation">Всі оголошення</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                var roles = await UserManager.GetRolesAsync(user);
                var photoUrl = "50_" + user.Image;

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/@photoUrl" alt="@user.FirstName" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">@user?.FirstName @user?.LastName</a></li>
                        <li><a class="dropdown-item" href="#">Роль: @foreach (var role in roles)
                                {
                                    @role
                                }</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Вийти</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="text-end">
                    <a type="button" class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
                    <a type="button" class="btn btn-success me-2" asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
                </div>
            }
        </div>
    </div>
</header>
